In [2]:
# python tuples 
mytyple = ('a', 'b', 'c', 'd')

In [3]:
print(mytyple)

('a', 'b', 'c', 'd')

In [4]:
# oridered, unchangeable , indexed, duplicates,

In [5]:
# add comma after the item if you want only one item

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [7]:
# unpacking a tuple

In [9]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [10]:
# using asterisk

In [11]:
fruits = ( 'apple', 'banan', cherry' , 'strawberry','raspberry')

SyntaxError: unterminated string literal (detected at line 1) (2634869861.py, line 1)

In [ ]:
# python loop tples 

# loop through a tuple 
# u can loop thorugh the tple items by using a for loop 
thistuple = ( ' apple', 'banana' , 'cherry ' ) 
for x in thistuple:
    print(x)



# loop thorugh the index nubers 

# u can als loop thorugh the thupleitems by referring totheir indexnumber 

for i in range(len(thistuple)):
    print(thistuple[i])